.toolbar{
  background-color: rgb(210, 200, 200);
  height: 56px;
  display: flex;
  align-items: center;

  h1, p{
    margin: 0 8px;
  }

  footer{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;

    img {
      width: 24px;
      aspect-ratio: 1;
      margin: auto;
    }
  }  
}

section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px 24px;

  .card{
    background-color: rebeccapurple;
    padding: 8px 16px;
    border-radius: 8px;

    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      h3{
        margin: 0;
      }
    }
  }
}