<app-toolbar title="Strategies"></app-toolbar>
<h2>Welcome to Strategies</h2>

<button mat-flat-button color="primary" (click)="createStrategy()" [disabled]="loading">Create</button>

<button (click)="generateStrat()" [disabled]="loading">Generate strat</button>

@if(strategies.length) {
<button mat-flat-button (click)="deployStrategies()" [disabled]="loading">Deploy</button>
}


<section>

  @for(strategy of strategies; track strategy){
  <div class="card">
    <header>
      <h3>{{strategy.baseTokenAddress | TokenName}} / {{strategy.quoteTokenAddress | TokenName}}</h3>
      <div>
        <button (click)="updateStrategy($index)" mat-icon-button><mat-icon>edit</mat-icon></button>
        <button (click)="deleteStrategy($index)" mat-icon-button><mat-icon>delete</mat-icon></button>
      </div>
    </header>
    <p>Buy: {{strategy.buyMin}} min / {{strategy.buyMax}} max</p>
    <p>Sell: {{strategy.sellMin}} min / {{strategy.sellMax}} max</p>
    <p>Budget: {{strategy.sellBudget}} sell / {{strategy.buyBudget}} buy </p>
  </div>
  }

</section>